/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BACKGROUND & COLOURS
/*******************************************/

body {
  background-color: lightgrey;
  font-size: 17px;
  letter-spacing: 0.2px;
  line-height: 1.4;
  color: #606060;
  font-family: 'Cormorant Garamond',serif;
}

p {
  text-align: center;
}

.name {
  font-weight: bolder;
}

i {
  cursor: pointer;
}

a,
a:link,
a:active,
a:visited,
a:hover {
  color: inherit;
  text-decoration: none;
}

a.activePage {
  border-bottom: 1px solid #B87333;
}

a.normalLink {
  color: #B87333;
}

#menuList a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-size: 0.72em;
  letter-spacing: 0.2em;
  font-family: 'Mate', serif;
  font-weight: lighter;
  padding-bottom: 5px;
}

#menuList a:hover {
  border-bottom: 1px solid #B87333;
}

h2 a:hover {
  border-bottom: 1px solid #B87333;
}

h1 {
  color: #B87333;
  font-family: 'Work Sans',sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 2px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  text-align: center;
  border-bottom: 1px solid #B87333;
}

h2 {
  color: #B87333;
  font-family: 'Work Sans',sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 2px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  text-align: center;
}

h4 {
  font-family: 'Work Sans',sans-serif;
  text-transform: lowercase;
  font-size: 16px;
  letter-spacing: 2px;
  color: white;
}

.fa {
  padding-top: 20px;
}

input {
  height: 25px;
  width: 200px;
  margin: 10px;
  font-size: 14px;
}

button {
  background-color: #B87333;
  border: none;
  cursor: pointer;
  height: 25px;
  width: 75px;
  font-size: 14px;
}

footer {
  color: #B87333;
}

/******************************************
/* IMAGE LAYOUT
/*******************************************/
.imageDiv.contain {
  background-size: contain;
  background-repeat: no-repeat;
  background-color: inherit;
}

.imageDiv.cover {
  background-size: cover;
}

.imageDiv.center {
  background-position: center center;
}

.imageDiv.x-center {
  background-position-x: center;
}

.imageDiv.y-center {
  background-position-y: center;
}

.imageDiv.x-left {
  background-position-x: left;
}

.imageDiv.x-right {
  background-position-x: right;
}

.imageDiv.y-left {
  background-position-y: left;
}

.imageDiv.y-right {
  background-position-y: right;
}

/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
#container {
  width: 100%;
  margin: 0 auto;
}

#landing {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#navBar {
  display: flex;
  flex-direction: row;
  padding: 15px 30px 15px 30px;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 10;
  background-color: #3E3938;
}

.header {
  min-height: 110px;
}

#navBar.top {
  background-color: #3E3938;
}

#navBar.notTop {
  background-color: rgba(0, 0, 0, 0.5);
}

.section {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.section.wide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 500px;
  padding: 100px 20% 100px 20%;
}

.panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding: 7%;
  position: relative;
}

.panel.small {
  width: 30%;
}

.panel.top {
  justify-content: flex-start;
}

#grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 30px;
}

.panel.imageDiv:hover {
  opacity: 0.2;
  filter: alpha(opacity=20); /* For IE8 and earlier */
}

.panelHover {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-decoration: none;
  z-index: 10; /* Places the link above everything else in the div */
  background-color: #FFF;
  opacity: 0;
  filter: alpha(opacity=1);
}

footer {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #3E3938;
  justify-content: center;
  align-items: center;
}

ul {
  display: flex;
  flex-direction: row;
}

li {
  padding: 20px;
}


#logo {
  height: 80px;
  width: auto;
}

#social {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#calendar
{
  width: 80%;
  margin: 0 auto;
  z-index: 1;
  padding-top: 20px;
}

#menuButton {
  display: none;
}

/* Smartphones (portrait and landscape) ----------- */
/*@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {*/
@media only screen and (max-width : 650px) {

  #menuList {
    display: none;
  }

  #menuButton {
    display: inline-block;
    float: right;
    padding-top: 10px;
    font-size: 32px;
    color: white;
    margin-right: 10px;
    cursor: pointer;
  }

  #logo {
    height: 90px;
    width: auto;
  }

  ul {
    flex-direction: column;
  }
}

@media only screen and (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media only screen and (min-width:1281px) { /* hi-res laptops and desktops */ }
