/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BACKGROUND & COLOURS
/*******************************************/

body {
  background-color: lightgrey;
  font-size: 17px;
  letter-spacing: 0.2px;
  line-height: 1.4;
  color: #606060;
  font-family: 'Cormorant Garamond',serif;
}

.name {
  font-weight: 800;
}

.emphasis {
  text-decoration: underline;
}

i {
  cursor: pointer;
}

a,
a:link,
a:active,
a:visited,
a:hover {
  color: inherit;
  text-decoration: none;
}

a.activePage {
  border-bottom: 1px solid #B87333;
}

a.normalLink {
  color: #B87333;
}


h1 {
  color: #B87333;
  font-family: 'Work Sans',sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 2px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  text-align: center;
  border-bottom: 1px solid #B87333;
}

h2 {
  color: #B87333;
  font-family: 'Work Sans',sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 2px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  text-align: center;
}

h4 {
  font-family: 'Work Sans',sans-serif;
  text-transform: lowercase;
  font-size: 16px;
  letter-spacing: 2px;
  color: white;
}

input {
  height: 25px;
  width: 200px;
  margin: 10px;
}
button {
  background-color: #B87333;
  border: none;
  cursor: pointer;
  height: 25px;
}

footer {
  color: #B87333;
  /*text-align: center;*/
}

/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
#container {
  width: 100%;
  margin: 0 auto;
}


#landing {
  background: url(../images/caramel_entremet.jpg) no-repeat top center #131e27;
  background-size: cover;
  flex-direction: column;
  height: 100vh;
  display: flex;
}

#navigation {
  display: flex;
  flex-direction: row;
  padding: 15px 30px 15px 30px;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 10;
  background-color: #3E3938;
}

#navigation.top {
  background-color: #3E3938;
}

#navigation.notTop {
  background-color: rgba(0, 0, 0, 0.5);
}

.section {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.section.wide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 500px;
  padding: 100px 20% 100px 20%;
}

.fa {
  padding-top: 10px;
}

.gallery-img.contain {
  background-size: contain;
  background-repeat: no-repeat;
  background-color: inherit;
}

.gallery-img.cover {
  background-size: cover;
}

.gallery-img.center {
  background-position: center center;
}

.gallery-img.x-center {
  background-position-x: center;
}

.gallery-img.y-center {
  background-position-y: center;
}

.gallery-img.x-left {
  background-position-x: left;
}

.gallery-img.x-right {
  background-position-x: right;
}

.gallery-img.y-left {
  background-position-y: left;
}

.gallery-img.y-right {
  background-position-y: right;
}

.panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding: 7%;
  position:relative;
}

.panel.wide {
  width: 30%;
}

.panel.top {
  justify-content: flex-start;
}

#grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 30px;
}

.panel.gallery-img:hover {
  opacity: 0.2;
  filter: alpha(opacity=20); /* For IE8 and earlier */
}

.panelLink {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-decoration: none;
  z-index: 10; /* Places the link above everything else in the div */
  background-color: #FFF;
  opacity: 0;
  filter: alpha(opacity=1);
}

header {
  min-height: 110px;
}

p {
  text-align: center;
  /*margin-bottom: 20px;*/
}

footer {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #3E3938;
  justify-content: center;
  align-items: center;
}

ul {
  display: flex;
  flex-direction: row;
}

li {
  padding: 20px;
}

#navlist a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-size: 0.72em;
  letter-spacing: 0.2em;
  font-family: 'Mate', serif;
  font-weight: lighter;
  padding-bottom: 5px;
}

#navlist a:hover {
  border-bottom: 1px solid #B87333;
}

h2 a:hover {
  border-bottom: 1px solid #B87333;
}

#logo {
  height: 80px;
  width: auto;
}

.logoBody {
  width: 100px;
  height: auto;
}

#social {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.gridItem {
  width: 200px;
  height: 200px;
  border: 1px solid black;
  margin: 1px;
}

.gridItemImage {
  min-width: 100%;
  min-height: 100%;
  width: 80%;
  height: auto;
}

#calendar
{
  width: 80%;
  margin: 0 auto;
  z-index: 1;
  padding-top: 20px;
}

/* Breakpoint at 768px */
@media only screen and (max-width : 768px) {
  .container {
    width: 100%;
  }
}
